* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#history {
  color: white;
  margin: 4px;
  text-align: left;
  font-size: 48px;
  height: 64px;
  width: 256px;
}

#display {
  color: white;
  margin: 4px;
  text-align: right;
  font-size: 64px;
  height: 64px;
  width: 256px;
}

.button {
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  height: 64px;
  width: 64px;
  text-align: left;
  border-radius: 50%;
}

.button-0 {
  width: 136px;
  border-radius: 32px;
}

.digit {
  background-color: gray;
  color: white;
}

.operator-off {
  background-color: orange;
  color: white;
}

.utility {
  background-color: lightgray;
  color: black;
}

.operator-on {
  background-color: white;
  color: orange;
}